.iconoExchange{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exchange{
    transition: all .25s linear;
}

.exchangeSinSeleccionar{
    transform: scale(1);
}
.exchangeSinSeleccionar:hover{
    transform: scale(1.02);
}

.exchangeSeleccionado{
    border: 3px solid green;
}