<div class="modal fade" id="modalCompra" [attr.aria-hidden]="'true'"  tabindex="-1" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de su compra</h4>
                <button type="button" class="close" [attr.data-bs-dismiss]="'modal'" [attr.aria-label]="'Close'">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left" style="text-align: left !important;">
                <ul>
                    <li><strong>Asset</strong>: {{nuevaCompra.cantidad}} {{nuevaCompra.asset_id}}</li>
                    <li><strong>Comision Exchange ({{nuevaCompra.exchange_id}})</strong>: {{nuevaCompra.comision}}</li>
                    <li><strong>Costo total (USD)</strong>: {{nuevaCompra.cantidadDolar}} </li>
                </ul>
                <div *ngIf="muestraError" class="row rounded bg-danger border-danger text-center text-light m-4 p-2">
                    <p class="m-0">{{ mensaje }}</p>
                </div>
                <div *ngIf="muestraSuccess" class="row rounded bg-success border-success text-center text-light m-4 p-2">
                    <p class="m-0">{{ mensaje }}</p>
                </div>
                <div *ngIf="!muestraSuccess" class="col-md-12 text-center">
                    <button type="button" class="btn btn-warning" (click)="comprarAsset()">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#modalCompra'">Ver detalle de la compra</button>